*{
    margin: 0;
    padding: 0;
}
table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    width: 600px;
}
th, td:first-child {
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
}
th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}
td {
    background: #D8E6F3;
}
th:first-child, td:first-child {
    text-align: left;
}
.main{
    display: flex;
    justify-content:space-between;
    width: 90%;
    margin:0 auto;
}
#addForm{
    margin: 50px auto 50px auto ;
    width: max-content;
    padding: 40px;
    background-color:#D8E6F3 ;
    border-radius: 20px;
    height: max-content;
}
#addForm h2{
    text-align: center;
    margin-bottom:10px;
}

.form_wrapper{
    width: max-content;
}
#addForm input[name="opdata"]{
    width: 100%;
}
.formContainer{
    margin-top: 10px;
    border: black bold 1px;
}
#addForm input[type="submit"]{
    width: 100%;
    padding: 5px;
    font-size:16px;
    font-weight: bold;
}
#addForm input[type="submit"]:hover{
    background-color: white;
    cursor: pointer;
}
